In [ ]:
#  Ques 1

def factorial(n):
  if(n==0):
    return 1
  elif(n<0):
    return "Invalid Input"
  else:
    return n*factorial(n-1)

x = int(input("Please Enter a number for it's factorial:"))
print(factorial(x))

Please Enter a number for it's factorial:7
5040

In [ ]:
# Ques 2
x = [1,2,3,4]
y = [3,4,5,6]

k = []
for i in x:
  for j in y:
    if(i == j):
      k.append(i)

print(k)

[3, 4]

In [ ]:
# Ques 3
x = [1,2,2,3,3,3,4]

dict = {}
for i in x:
  if i in dict:
    dict[i] += 1
  else:
    dict[i] = 1

print(dict)

{1: 1, 2: 2, 3: 3, 4: 1}

In [ ]:
# Ques 4
# method 1
x = [1,2,2,3,4,3]

# dict = {}
# for i in x:
#   dict[i] = i
# k = []
# for j in dict:
#   k.append(dict[j])

# method 2

k = list(set(x))
print(k)

[1, 2, 3, 4]

In [ ]:
# Ques 5
n = 5
r = 3

def ncr(n,r):
  return factorial(n)//(factorial(r)*factorial(n-r))

print(ncr(n,r))

10

In [ ]:
# Ques 6
x = input("Please enter a string:")

def rev(x):
  return x[::-1]

print(rev(x))

Please enter a string:hello
olleh

In [ ]:
# Ques 7
x = int(input("Please enter a year:"))

if(x%4 == 0):
  if(x%100 == 0):
    if(x%400 == 0):
      print("Leap Year:True")
    else:
      print("Leap Year:False")
  else:
    print("Leap Year:True")
else:
  print("Leap Year:False")

Please enter a year:2020
Leap Year:True

In [ ]:
# Ques 8
x = input("Please enter a string:")\

def count_vowel(x):
  temp = 0
  for i in x:
    if(i == 'a' or i == 'e' or i == 'i' or i == 'o' or i =='u'):
       temp+=1
  return temp
print(count_vowel(x))

Please enter a string:hello world
3

In [ ]:
# Ques 9
x = [1,2,3,4,5]

def min_max(x):
  return (max(x),min(x))

print(min_max(x))

(5, 1)

In [ ]:
# Ques 10
x = [1,2,3,4,5]

def sum_even(x):
  sum = 0
  for i in x:
    if(i%2 == 0):
      sum += i
  return sum

print(sum_even(x))

6

In [ ]:
# Ques 11
x = list(map(int,input("Please enter the list of numbers:").split()))

def second_largest(x):
  maxnum = max(x)
  secmaxnum = x[0]
  for i in x:
    if(i < maxnum and i >secmaxnum ):
      secmaxnum = i

  if(secmaxnum == maxnum):
    return None
  else:
    return secmaxnum

print(second_largest(x))

Please enter the list of numbers:1 1 1
None

In [ ]:
# Ques 12

x = list(map(str,input("please enter the string:").split()))

def remove_space(x):
  y=""
  for i in x:
      y += i
  return y
print(remove_space(x))

please enter the string:hi my name is pranjay
himynameispranjay

In [ ]:
# Ques 13
x = list(map(str,input("please enter the string:").split()))

def len_of_max_word(x):
  dict = {}
  for i in x:
    dict[i] = len(i)
  return max(list(dict.values()))
print(len_of_max_word(x))

please enter the string:the quick brown fox
5

In [ ]:
# Ques 14
x = int(input("Please enter a number:"))

def multiply_table(x):
  for i in range(1,11):
    print(x," X ",i," = ", x*i)

multiply_table(x)

Please enter a number:3
3  X  1  =  3
3  X  2  =  6
3  X  3  =  9
3  X  4  =  12
3  X  5  =  15
3  X  6  =  18
3  X  7  =  21
3  X  8  =  24
3  X  9  =  27
3  X  10  =  30

In [ ]:
# Ques 15
y = list(map(int,input("Please enter the list of numbers:").split(",")))

def prime_number(x):
  if x < 2:
    return False
  for i in range(2,int(x**0.5)+1):
    if x%i == 0:
      return False
  return True

def prime_list(y):
  z = []
  for i in range(y[0],y[1]+1):
    if(prime_number(i)):
      z.append(i)
  return z

print(prime_list(y))

Please enter the list of numbers:10,20
[11, 13, 17, 19]